version: '3.8'

services:
  backend:
    build:
      context: ./Notes.Backend 
      dockerfile: Notes.WebApi/Dockerfile 
    ports:
      - "8001:8080"
    volumes:
      - ./data:/app/data 
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  frontend:
    build:
      context: ./notes-frontend 
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend